body{
    font-family: sans-serif;
    min-height: 60vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 6rem;
    background-color: hsl(185, 41%, 84%);
}
.header{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-weight: 600;
    font-size: large;
    font-family: unset;
    color: hsl(183, 100%, 15%);
}
.header span{
    letter-spacing: 1.1rem;
}
.main{
    display: flex;
    flex-direction: row;
    width: 60vw;
    gap: 5rem;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
}
#lefthalf{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}
#select-tip-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    color:  hsl(0, 0%, 100%);
    font-size: 25px;
}
#select-tip-section span{
    width: 30%;
    height: 2.5rem;
    text-align: center;
    background-color:  hsl(183, 100%, 15%);
    border-radius: 7px;
    padding-top: 0.8rem;
    border: hsl(183, 100%, 15%);
    cursor: pointer;
}
#select-tip-section input{
    width: 29%;
    height: 2.9rem;
    border: none;
    outline: none;
    text-align: end;
    border-radius: 7px;
    font-size: 25px;
    background-color: hsl(189, 41%, 97%);
}
#input-box{
    display: flex;
    flex-direction: row;
    background-color: hsl(189, 41%, 97%);
    border-radius: 6px;
    padding: 1px;
}
#input-box span{
    width: 10%;
    height: 1rem;
    padding: 0.3rem 0 0.3rem 0.2rem;
    color: gray;
}
#input-box input{
    text-align: end;
    border: none;
    outline: none;
    width: 90%;
    height: 1.5rem;
    font-size: 25px;
    color: hsl(183, 100%, 15%);
    background-color: hsl(189, 41%, 97%);
    padding: 0.3rem 0.2rem 0.3rem 0;

}
#input-box-2{
    display: flex;
    flex-direction: row;
    background-color: hsl(189, 41%, 97%);
    justify-content: space-between;
    border-radius: 6px;
    padding: 2px;
}
#number-of-people{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}
#input-box-2 input{
    width: 90%;
    border: none;
    outline: none;
    text-align: end;
    font-size: 25px;
    color: hsl(183, 100%, 15%);
    background-color: hsl(189, 41%, 97%);
    padding: 0.3rem 0 0.3rem 0;    
}
#input-box-2 span{
    width: 5%;
    height: 60%;
    padding: 0.3rem 0 0.3rem 0.2rem;
    color: gray;
}
#righthalf{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    background-color: hsl(183, 100%, 15%);
    border-radius: 10px;
    color: hsl(172, 67%, 45%);
    padding: 2.5rem;
}
#tip-result-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 3rem;
}
#tip-amount-heading-box{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 2px;
}
#tip-result{
    font-weight:700;
}
#contri-amount-heading-box{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: 2px;
}
#contri-result-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4rem;
    font-size: 3rem;
}
#contri-result{
    font-weight: 700;
}
#button {
    align-self: flex-end;
    width: 95%;
    height: 20%;
}
#button button{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: hsl(183, 100%, 15%);
    font-size: 18px;
    font-weight: 600;
    background-color: hsl(172, 49%, 54%);
    border-radius: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#input-box:focus{
    border: solid 2px hsl(172, 67%, 45%);
}
@media screen and (max-width: 1040px){
    .main{
        display: flex;
        flex-direction: column;
    }
    #lefthalf{
        width: 90%;
        align-self: center;
    }
    #button button{
        height: 3rem;
    }
    #tip-result-box,#contri-result-box{
        font-size: 8vw;
    }
}